@media (max-width: 84rem) {
  .container {
    margin: auto;
    padding: auto;
  }

  .content-texts {
    left: 40.3%;
  }

  .grid-4-image {
    height: 37vh;
  }

  .grid-2-image {
    height: 40vh;
  }

  .grid-image {
    height: 55vh;
  }

  .pword {
    margin: 0;
  }

  .blog-image {
    height: 60vh;
    margin: 0;
    width: 100%;
  }

  .btn-sign-in {
    margin-left: 6%;
  }

  .input-contact-2,
  .input-contact,
  .input-payment {
    width: 100%;
  }

  .form-block {
    margin-left: 0;
  }

  input,
  textarea,
  select {
    padding: 1.7rem;
  }

  .sort {
    margin-left: auto;
  }
}

@media (max-width: 75em) {
  .journals {
    top: 50%;
  }

  .grid-img {
    height: 65vh;
  }

  .content-texts {
    top: 40%;
  }

  .grid-image {
    height: 45vh;
  }

  .product--grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .checkout-grid {
    padding: 3rem;
  }
}

@media (max-width: 67em) {
  .product-image {
    width: 100%;
    height: 40rem;
  }

  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .arrival-grid {
    display: grid;
    grid-template-columns: 60% 60% 60% 60%;
    overflow-x: scroll;
  }

  .collections {
    padding-top: 3rem;
    margin-top: 5rem;
    margin: 5rem 0;
  }

  .grid-image {
    height: 60vh;
    margin: 0 2rem;
  }

  .blog {
    margin: 0 14rem;
  }

  .form-block {
    display: block;
  }

  .input-email {
    margin-top: 4rem;
  }

  .blog-img {
    width: 100%;
    height: 100%;
  }

  .blog-form {
    margin: 2rem;
  }

  .checkout-grid {
    padding: 7rem;
  }

  .burger {
    display: flex;
    background-color: transparent;
    justify-content: space-around;
    flex-direction: column;
    top: 15px;
    height: 2.4rem;
  }

  .burger_bar {
    position: relative;
    background-color: #eee;
    height: 2px;
    width: 3rem;
    transition: all 0.5s ease-in-out;
    left: -2rem;
  }

  .burger_bar::before,
  .burger_bar::after {
    content: "X";
    position: absolute;
    height: 2px;
    color: #eee;
    border-radius: 2px;
    transition: all 0.4s ease-in-out;
  }

  .bar {
    right: 0;
    width: 1.5rem;
  }

  .bar3 {
    width: 2.5rem;
  }

  .open > .burger_bar {
    background-color: transparent;
  }

  .open > .burger_bar::before {
    width: 32px;
    transform: rotate(45deg);
  }

  .open > .burger_bar::after {
    width: 32px;
    transform: rotate(-45deg);
  }

  .burger-menu {
    display: flex;
    background-color: #000000;
    position: absolute;
    top: 7.8rem;
    left: 0;
    width: 40%;
    align-items: start;
    transition: all 0.3s linear;
    transform: translateY(100%) translate(-100%);
    opacity: 0;
    padding: 5rem 1.5rem;
    flex-direction: column;
    gap: 3rem;
  }

  .active {
    border-bottom: none;
  }

  .h1 {
    font-size: 2rem;
  }

  .burger-menu.open {
    transform: translate(0);
    opacity: 82%;
  }

  .main-nav--link {
    color: #eee;
    opacity: 95%;
  }

  .fot-img {
    position: absolute;
    left: 5%;
  }

  .footer--nav {
    margin-top: 14rem;
  }

  .fot {
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-nav-li {
    list-style: none;
  }
}

@media (max-width: 48em) {
  .product-grid {
    height: 50vh;
  }

  .grid-4-image,
  .grid-image {
    height: 25vh;
  }

  .blog {
    margin: 1rem;
  }

  .others {
    gap: 0;
  }

  .blog-grid {
    display: block;
  }

  .grid-2-image {
    width: 100%;
  }

  .grid-2_cols {
    margin: 1rem 0;
  }

  .grid-img {
    height: 35vh;
  }

  .form--checkout {
    flex-direction: column;
  }

  .content-texts {
    top: 25%;
    left: 33%;
    line-height: 1;
  }

  .product--grid {
    display: block;
  }

  .footer-nav-ul {
    gap: 2rem;
    margin-left: 0;
  }

  .fot-img {
    left: 13%;
  }

  .nav-link {
    font-size: 1.3rem;
  }

  .shopping-cart {
    margin: 2rem auto;
    width: 80%;
  }
}

@media (max-width: 35rem) {
  .journals {
    top: 40%;

    left: 18%;
    width: 55%;
    padding: 2.5rem;
    text-align: center;
  }

  .journal-img {
    height: 55vh;
  }

  .logo {
    left: 45%;
  }

  .strong-text,
  .secondary-header {
    font-size: 1.7rem;
  }

  .text-description {
    font-size: 1.4rem;
  }

  .product-text {
    font-size: 1rem;
  }

  .grid-image {
    height: 40vh;
    /* width: 70%; */
  }

  .btn-view {
    margin: 0 10rem;
  }

  .btn-sign-in {
    margin: 1rem 4.5rem;
  }

  .footer-img {
    height: 2rem;
  }

  .footer-nav-ul {
    margin-left: 0;
  }

  .fot-img {
    left: 5%;
  }

  .nav-link {
    font-size: 1rem;
  }

  .radio {
    display: block;
  }

  .grid-img {
    height: 35vh;
  }

  .content-texts {
    top: 30%;
    left: 19%;
    line-height: 1;
  }

  .primary-header {
    font-size: 3rem;
  }

  .texts {
    color: #eee;
  }

  .checkout-grid {
    padding: 4rem;
  }

  .btn-view {
    margin: 0 4rem;
    width: 15rem;
  }

  .btn {
    padding: 1rem;
    font-size: 1.4rem;
  }

  .login {
    text-align: center;
    margin: 0;
  }

  .input-contact-2,
  .input-contact,
  .input-payment,
  .input-checkout {
    width: 80%;
  }

  .h1-margin {
    margin: 5rem 0 0 4rem;
  }

  .grid-2-cols {
    margin: 5rem 0;
  }

  .romans {
    text-align: start;
  }

  .filters {
    display: none;
  }

  .cart_product {
    display: block;
  }

  .product_img {
    width: 80%;
    height: 25vh;
  }

  .shopping-cart {
    margin: 2rem;
    width: 80%;
  }

  .product-header {
    font-size: 1.5rem;
  }

  .total,
  .checkout-btn,
  .product-info,
  .quantity,
  .remove-btn {
    margin: 1.3rem 2rem;
  }

  .fot {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 1rem;
  }

  .footer-link {
    font-size: 1.4rem;
  }
}
