@media (max-width: 84rem) {
  body {
    background-color: red;
  }

  .logo {
    margin-left: 10rem;
  }

  .content-texts {
    left: 40.3%;
  }

  .grid-4-image {
    height: 37vh;
  }

  .grid-2-image {
    height: 40vh;
  }

  .grid-image {
    height: 55vh;
  }

  .pword {
    margin: 0;
  }

  .blog-image {
    height: 60vh;
    margin: 0;
    width: 100%;
  }

  .btn-sign-in {
    margin-left: 6%;
  }

  .input-contact-2,
  .input-contact,
  .input-payment {
    width: 100%;
  }

  .form-block {
    margin-left: 0;
  }

  input,
  textarea,
  select {
    padding: 1.7rem;
  }
}

@media (max-width: 75em) {
  body {
    background-color: green;
  }

  .logo {
    margin-left: 4rem;
  }

  .grid-img {
    height: 65vh;
  }

  .content-texts {
    top: 40%;
  }

  .grid-image {
    height: 45vh;
  }

  .grid-4-image {
    height: 30vh;
  }

  .product--grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .checkout-grid {
    padding: 3rem;
  }
}

@media (max-width: 65em) {
  body {
    background-color: rgb(215, 215, 226);
  }

  .logo {
    margin-left: 40rem;
  }

  .product-image {
    width: 100%;
    height: 40rem;
  }

  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .collections {
    display: block;
    padding-top: 3rem;
    margin-top: 9rem;
  }

  .grid-image {
    height: 60vh;
  }

  .blog {
    margin: 0 14rem;
  }

  .form-block {
    display: block;
  }

  .input-email {
    margin-top: 4rem;
  }

  .blog-img {
    width: 100%;
    height: 100%;
  }

  .blog-form {
    margin: 2rem;
  }

  .checkout-grid {
    padding: 7rem;
  }

  .div-nav {
    display: flex;
    background-color: #000;
    position: absolute;
    top: 9rem;
    left: 0;
    width: 45%;
    height: 100vh;
    align-items: start;
    transition: all 0.2s ease-in-out;
    /* opacity: 0; */
    pointer-events: none;
    /* visibility: hidden; */
    z-index: 1;
    padding: 1.5rem;
    flex-direction: column;
    gap: 3rem;
  }

  .nav-open .div-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translate(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav--link {
    font-size: 1.8rem;
    color: #eee;
    opacity: 95%;
    padding: 4rem;
  }
}

@media (max-width: 48em) {
  body {
    background-color: yellow;
  }

  .others {
    gap: 0;
  }

  .logo {
    margin-left: 28rem;
  }

  .blog-grid {
    display: block;
  }

  .grid-2-image {
    width: 100%;
  }

  .div-nav {
    width: 94%;
  }

  .grid-2_cols {
    margin: 1rem 0;
  }

  .container {
    margin: 0;
    padding: 0;
  }

  .grid-img {
    height: 35vh;
  }

  .form--checkout {
    flex-direction: column;
  }

  .content-texts {
    top: 25%;
    left: 33%;
    line-height: 1;
  }

  .product--grid {
    display: block;
  }

  .footer-nav-ul {
    gap: 2rem;
    margin-left: 0;
    text-align: start;
  }

  .nav-link {
    font-size: 1.3rem;
  }

  .cart_product {
    display: block;
  }
}

@media (max-width: 35rem) {
  body {
    background-color: rgb(250, 246, 246);
  }

  .logo {
    margin-left: 17rem;
    /* margin-left: auto; */
  }

  .strong-text {
    font-size: 2rem;
  }

  .text-description {
    font-size: 1.5rem;
  }

  .grid-image {
    height: 40vh;
  }

  .btn-view {
    margin: 0 10rem;
  }

  .btn-sign-in {
    margin: 1rem 4.5rem;
  }

  .footer-img {
    height: 3rem;
  }

  .radio {
    display: block;
  }

  .grid-img {
    height: 35vh;
  }

  .content-texts {
    top: 25%;
    left: 25%;
    line-height: 1;
  }

  .primary-header {
    font-size: 3rem;
  }

  .texts {
    color: #000;
  }

  .checkout-grid {
    padding: 4rem;
  }
}
