@media (max-width: 84rem) {
  body {
    background-color: red;
  }

  .logo {
    margin-left: 10rem;
  }

  .content-texts {
    left: 40.3%;
  }

  .grid-4-image {
    height: 37vh;
  }

  .grid-2-image {
    height: 40vh;
  }

  .grid-image {
    height: 55vh;
  }

  .pword {
    margin: 0;
  }

  .blog-image {
    height: 60vh;
    margin: 0;
    width: 100%;
  }

  .btn-sign-in {
    margin-left: 6%;
  }

  .input-contact-2,
  .input-contact,
  .input-payment {
    width: 100%;
  }

  .form-block {
    margin-left: 0;
  }

  input,
  textarea,
  select {
    padding: 1.7rem;
  }

  .sort {
    margin-left: auto;
  }
}

@media (max-width: 75em) {
  body {
    background-color: green;
  }

  .logo {
    margin-left: 4rem;
  }

  .grid-img {
    height: 65vh;
  }

  .content-texts {
    top: 40%;
  }

  .grid-image {
    height: 45vh;
  }

  .grid-4-image {
    height: 30vh;
  }

  .product--grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .checkout-grid {
    padding: 3rem;
  }
}

@media (max-width: 65em) {
  body {
    background-color: rgb(215, 215, 226);
  }

  .logo {
    margin-left: 40rem;
  }

  .product-image {
    width: 100%;
    height: 40rem;
  }

  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .collections {
    display: block;
    padding-top: 3rem;
    margin-top: 9rem;
  }

  .grid-image {
    height: 60vh;
  }

  .blog {
    margin: 0 14rem;
  }

  .form-block {
    display: block;
  }

  .input-email {
    margin-top: 4rem;
  }

  .blog-img {
    width: 100%;
    height: 100%;
  }

  .blog-form {
    margin: 2rem;
  }

  .checkout-grid {
    padding: 7rem;
  }

  .burger {
    display: flex;
    background-color: transparent;
    justify-content: space-around;
    flex-direction: column;
    top: 15px;
    height: 2.4rem;
  }

  .burger_bar {
    position: relative;
    background-color: #eee;
    height: 2px;
    width: 3rem;
    transition: all 0.5s ease-in-out;
  }

  .burger_bar::before,
  .burger_bar::after {
    content: "X";
    position: absolute;
    height: 2px;
    color: #eee;
    border-radius: 2px;
    transition: all 0.4s ease-in-out;
  }

  /* .burger_bar::before {
    width: 25px;
    transform: translate(-8px);
    right: 0;
  }
  .burger_bar::after {
    width: 32px;
    transform: translate(8px);
  } */

  .bar {
    right: 0;
    width: 1.5rem;
  }

  .bar3 {
    width: 2.5rem;
  }
  /* .burger_bar:nth-child(1) {
    transform: rotate(48deg);
  }
  .burger_bar:nth-child(2) {
    transform: translateX(0);
    opacity: 0;
  }
  .burger_bar:nth-child(3) {
    transform: rotate(-48deg);
  } */

  .open > .burger_bar {
    background-color: transparent;
  }

  .open > .burger_bar::before {
    width: 32px;
    transform: rotate(45deg);
  }
  .open > .burger_bar::after {
    width: 32px;
    transform: rotate(-45deg);
  }

  .nav-bar > .burger-menu {
    display: flex;
    background-color: #000000;
    position: absolute;
    top: 8rem;
    left: 0;
    width: 45%;
    height: 100vh;
    align-items: start;
    transition: all 0.5s linear;
    transform: translate(-100%);
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    padding: 5rem 1.5rem;
    flex-direction: column;
    gap: 3rem;
  }

  .nav-bar > .burger-menu.open {
    transform: translate(0);
    opacity: 82%;
  }

  .main-nav--link {
    font-size: 1.8rem;
    color: #eee;
    opacity: 95%;
    padding: 4rem;
  }
}

@media (max-width: 48em) {
  body {
    background-color: yellow;
  }

  .others {
    gap: 0;
  }

  .logo {
    margin-left: 28rem;
  }

  .blog-grid {
    display: block;
  }

  .grid-2-image {
    width: 100%;
  }

  .nav-bar > .burger-menu {
    width: 94%;
  }

  .grid-2_cols {
    margin: 1rem 0;
  }

  .container {
    margin: 0;
    padding: 0;
  }

  .grid-img {
    height: 35vh;
  }

  .form--checkout {
    flex-direction: column;
  }

  .content-texts {
    top: 25%;
    left: 33%;
    line-height: 1;
  }

  .product--grid {
    display: block;
  }

  .footer-nav-ul {
    gap: 2rem;
    margin-left: 0;
    text-align: start;
  }

  .nav-link {
    font-size: 1.3rem;
  }

  .shopping-cart {
    margin: 2rem auto;
    width: 80%;
  }

  /* .cart_product {
    display: block;
  } */
}

@media (max-width: 35rem) {
  body {
    background-color: rgb(250, 246, 246);
    overflow-x: hidden;
  }

  html {
    overflow-x: hidden;
  }

  .logo {
    margin-left: 11rem;
    /* margin-left: auto; */
  }

  .strong-text {
    font-size: 2rem;
  }

  .text-description {
    font-size: 1.5rem;
  }

  .grid-image {
    height: 40vh;
  }

  .btn-view {
    margin: 0 10rem;
  }

  .btn-sign-in {
    margin: 1rem 4.5rem;
  }

  .footer-img {
    height: 2rem;
  }

  .footer-nav-ul {
    gap: 1rem;
    margin-left: 0;
    text-align: start;
  }

  .nav-link {
    font-size: 1rem;
  }

  .radio {
    display: block;
  }

  .grid-img {
    height: 35vh;
  }

  .content-texts {
    top: 25%;
    left: 25%;
    line-height: 1;
  }

  .primary-header {
    font-size: 3rem;
  }

  .texts {
    color: #000;
  }

  .checkout-grid {
    padding: 4rem;
  }

  .btn-view {
    margin: 0 4rem;
    width: 15rem;
  }

  .btn {
    padding: 1rem;
  }

  .login {
    text-align: center;
    margin: 0;
  }

  .input-contact-2,
  .input-contact,
  .input-payment,
  .input-checkout {
    width: 80%;
  }

  .h1-margin {
    margin: 5rem 0 0 4rem;
  }

  .grid-2-cols {
    margin: 5rem 0;
  }

  .grid-image {
    margin: 2rem;
  }

  .romans {
    text-align: start;
  }

  
  .filters {
    display: none;
  }
  
 
}
